:root {
    --Kumbh: 'Kumbh Sans', sans-serif;
    --greenAccent: #3cb066;
    --orangeAccent: #f68004;
    --backgroungGreen: #04AA6D;
    --greyButton: #534A4B;
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #cbcbcb;
    --whiteBackground: #f6fbfc;
}
body{
    box-sizing: border-box;
    background-color: var(--whiteBackground);
}

.scholarship-image-container{
    height: 300px;
    position: relative;
    overflow: hidden;
}
.scholarship-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9    ;
    filter: brightness(30%);
}

.scholarship-image-text {
    font-family: var(--Kumbh);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    width: max-content;
    -webkit-text-stroke: 1px;
}

main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 0 ;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    flex: 0.66;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
    
}

.left-wrapper > .first-paragraph {
    font-size: 20px;
    line-height: 1.4;
}

.total-scholarship-container{
    text-align: center;
    gap: 10px;
}

.total-scholarship-container>h3{
    font-size: 18px;

}
.total-scholarship-container >p{
font-size: 40px;
color: red;
font-weight: bold;
}

.second-paragraph{
    background-color: var(--white);
    padding: 15px;
    max-width: 480px;
    border-radius: 12px;
    font-size: 16px;
    font-style: italic;
    color: var(--greyButton);
    font-weight: bold;

    
}

.testimonial-wrapper{
    display: flex;
    gap:30px;
    width: 65%;
}


.testimonial-wrapper .h1-div {
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}
.h1-div  h1 {
    width: 100%;
    padding: 20px;
    background-color: #E8ECEE;

}
.testimonial-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 450px;
    overflow-y: scroll;

}
.testimonial-card-container{
    background-color: var(--white);
    display: flex;
    padding: 15px;
    border-radius: 8px;
    gap:20px;
}
.testimonial-card-container > img{
    width: 80px;
    height: 80px;
    border: 4px solid var(--greenAccent);
    object-fit: contain;
    border-radius: 100%;
}

.testimonial-description-container{
    display: flex;
    flex-direction: column;
    gap:10px
}
.testimonial-description-amount{
    color:var(--orangeAccent);
    font-size: 14px;
    font-weight: bold;
}

.right-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.33;
    gap:30px

}

.right-section-container-one{
    width: 80%;
    padding: 10px;
    background-color: #E8ECEE;
    border-bottom: 5px solid var(--greenAccent);
}

.right-section-container-one>h1, .right-section-container-three>h1{
    font-family: var(--kumbh);
    font-weight: 400;
}

.right-section-container-two{
    width: 80%;
    background-color: #E8ECEE;
    padding: 10px 10px 10px 40px;
}

.right-section-container-two>ul{
    list-style-type: disc; 
    color: #f68004;
}

.right-section-container-two>ul>li>span{
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--kumbh);
    cursor: pointer;
}

.right-section-container-three{
    width: 80%;
    background-color: #E8ECEE;
    border-bottom: 5px solid #f68004;
    padding: 10px;
}

.right-section-container-four, .right-section-container-five{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:15px;
    width: 80%;
    border-radius: 12px;
    background-color: var(--white);
    align-items: center;
}

.right-section-container-four>img, .right-section-container-five> img{
    height: 80px;
    width: auto;
}

.right-section-container-four>h4, .right-section-container-five> h4{
    color: #f68004;
    font-family: var(--kumbh);
}


@media (max-width: 750px){
    main{
        flex-direction: column;
    }
    .first-paragraph{
        font-size: 18px;
    }
    .second-paragraph{
        font-size: 16px;
    }
    .testimonial-wrapper{
        flex-direction: column;
        width: 100%;
        background-color: #E8ECEE;
        padding: 20px 20px 0 20px;
    }
    .testimonial-wrapper > h1{
        font-size: 22px;
    }
    .testimonial-description-container{
        width: 90%;
    }
    .testimonial-description-amount{
        font-size: 12px;
    }

    .testimonial-wrapper .h1-div {
        width: 100%;

    }
    .right-section-container-one,.right-section-container-two , .right-section-container-three,.right-section-container-four,.right-section-container-five {
        width: 100%;
    }
    .right-section-container-one,.right-section-container-three{
        font-size: 16px;
        padding: 10px;
    }
    .right-section-container-four,.right-section-container-five{
        font-size: 14px;
    }
   
}


