body {
  background-color: var(--whiteBackground);
}

.department-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 38px;
  font-weight: 900;
  -webkit-text-stroke: 1px;
  letter-spacing: 2px;
  text-align:center;
  color: var(--greenAccent);
}


.slide_group {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.slide {
  height: 500px;
  width: 100%;
  position: absolute;
  transition: all ease-in-out 0.7s;
}

.slide img{
  width: 100%;
  height: 100%;
}

.slide_buttons button {
  background: rgba(12, 12, 12, 0.6);
  color: var(--white);
  padding: 0px 14px;
  font-size: 60px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  position: absolute;
}

.goprev {
  top: 50%;
}

.gonext {
  top: 50%;
  right: 0%;
}

.directional_nav {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.directional_nav div{
  border-radius: 15px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 3px solid var(--white);
  display: inline-block;
}

.directional_nav .active{
  background-color: var(--white);
}

.slider {
  padding: 0 8%;
  padding-bottom: 3%;
}


.about-details {
  flex: 4;
}

.about-details h1{
  font-size: 30px;
  font-weight: 900;
  color: var(--greenAccent);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--greenAccent);
  letter-spacing: 1px;
}

.about-details p{
  font-size: 20px;
  padding: 20px 0;
}

.pos {
  margin-top: 30px;
  background-color: var(--white);
  padding: 30px 50px;
  border-radius: 10px;
}

.pos h1{
  color: var(--indigoblue);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--indigoblue);
  letter-spacing: 1px;
}

.more-details-green {
  background-color: var(--greenAccent);
  color: var(--white);
  width: fit-content;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 30px;
}

.more-details-green font {
  font-weight: 500;
  font-size: 18px;
}


.quick-link-holder {
  background-color: var(--lightgrey);
  padding: 15px 10px;
  border-bottom: 5px solid var(--orangeAccent);
  margin-bottom: 30px;
}

.quick-link-holder font{
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
}

.quick-link-list font {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  margin-left: 10px;
}

.quick-link-list {
  list-style: none;
  margin-bottom: 50px;
  background-color: var(--lightgrey);
  padding: 10px 40px;
}

.quick-link-list li::before {
  content: ".";
  color: var(--orangeAccent);
  font-weight: bold;
  font-size: 100px;
  line-height: 0px;
  display: inline-block;
  width: 10px;
}

.more-details-orange {
  text-align: center;
  background-color: var(--orangeAccent);
  color: var(--white);
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 30px;
}

.more-details-orange font {
  font-weight: 500;
  font-size: 18px;
}

.flex-holder-about {
  display: flex;
  column-gap: 30px;
}

.about-section {
  flex: 1;
}

.large {
  display: block;
}

.small {
  display: none;
}

#section-au-three {
  padding-bottom: 3%;
}



@media (max-width: 750px) {
  .slide_group {
    height: 300px;
  }
  
  .slide {
    height: 300px;
  }

  .slide_buttons button {
    padding: 0px 8px;
    font-size: 40px;
  }

  .slider {
    padding: 3% 0%;
  }

  .flex-holder-about {
    display: block;
  }

  .large {
    display: none;
  }
  
  .small {
    display: block;
  }
}